In [1]:
import pandas as pd

In [2]:
#creación de DataFrame products
products = pd.DataFrame([{'Product ID': 4109, 'Price': 5.0, 'Product': 'Sushi Roll'},
                         {'Product ID': 1412, 'Price': 0.5, 'Product': 'Egg'},
                         {'Product ID': 8931, 'Price': 1.5, 'Product': 'Bagel'}])
products = products.set_index('Product ID')

In [5]:
#creación de DataFrame invoices
invoices = pd.DataFrame([{'Customer': 'Ali', 'Product ID': 4109, 'Quantity': 1},
                         {'Customer': 'Eric', 'Product ID': 1412, 'Quantity': 12},
                         {'Customer': 'Ande', 'Product ID': 8931, 'Quantity': 6},
                         {'Customer': 'Sam', 'Product ID': 4109, 'Quantity': 2}])
invoices = invoices.reset_index()

In [ ]:
#si quisiéramos generar Totales necesitamos Quantity y Price del Product ID

In [24]:
pd.merge(invoices, products, how='inner', left_index=True, right_index=True) #la consideración de index hace que no tenga resultados

Empty DataFrame
Columns: [index, Customer, Product ID, Quantity, Price, Product]
Index: []

In [27]:
pd.merge(invoices, products, how='inner', left_on='Product ID', right_index=True) #considero Product ID de invoices y el index de products

   index Customer  Product ID  Quantity  Price     Product
0      0      Ali        4109         1    5.0  Sushi Roll
3      3      Sam        4109         2    5.0  Sushi Roll
1      1     Eric        1412        12    0.5         Egg
2      2     Ande        8931         6    1.5       Bagel

In [31]:
#ordena con index de invoices
pd.merge(invoices, products, how='left', left_on='Product ID', right_index=True)

   index Customer  Product ID  Quantity  Price     Product
0      0      Ali        4109         1    5.0  Sushi Roll
1      1     Eric        1412        12    0.5         Egg
2      2     Ande        8931         6    1.5       Bagel
3      3      Sam        4109         2    5.0  Sushi Roll

In [32]:
#ordena con index de products
pd.merge(invoices, products, how='right', left_on='Product ID', right_index=True)

   index Customer  Product ID  Quantity  Price     Product
0      0      Ali        4109         1    5.0  Sushi Roll
3      3      Sam        4109         2    5.0  Sushi Roll
1      1     Eric        1412        12    0.5         Egg
2      2     Ande        8931         6    1.5       Bagel

In [34]:
#solución entregada en el curso
pd.merge(products, invoices, left_index=True, right_on='Product ID')

   Price     Product  index Customer  Product ID  Quantity
0    5.0  Sushi Roll      0      Ali        4109         1
3    5.0  Sushi Roll      3      Sam        4109         2
1    0.5         Egg      1     Eric        1412        12
2    1.5       Bagel      2     Ande        8931         6